a {
  color: white;
}

.weather {
  background-color: #283739;
  border: solid 1px #a2c11c;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 15px;
  width: 600px;
  height: 450px;
}

.WeatherInfo ul {
  list-style-type: none;
}

.search-city {
  background-color: #a2c11c;
  color: #283739;
  padding: 6px 12px;
  width: 100%;
  border-radius: 6px;
  border: none;

}

.WeatherInfo-icon {
  max-width: 250px;
}

.temperature {
  font-size: 45px;
}

.unit {
  font-size: 20px;
}